<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
         <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
              <span class="margin-right"><%= link_to "マイページ", user_path(current_user) %></span>
              <span class="margin-right"><%= link_to "カート", carts_path(current_user) %></span>
              <span class="margin-right"><%= link_to "商品一覧", root_path %></span>
              <span class="margin-right"><%= link_to "注文履歴", orders_path(current_user) %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">ログイン
</span> <br><br>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", :style=> "width:50%;" %>
            </div> 　<br>
            <div class="field">
              <%= f.label :パスワード %><br />
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control", :style=> "width:50%;" %>
            </div> 　<br>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
              <% end %> 　<br>
                <div class="actions">
                  <%= f.submit "ログインする", class: "btn btn-primary" %>
                </div>
                <% end %> <br> </div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>