<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if admin_signed_in? %>
              <span class="margin-right"><%= link_to "商品一覧", admin_products_path %></span>
              <span class="margin-right"><%= link_to "会員一覧", admin_users_path %></span>
              <span class="margin-right"><%= link_to "注文履歴一覧", admin_orders_path %></span>
              <span class="margin-right"><%= link_to "ジャンル管理", admin_genres_path %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6">
          <br><br>
<span class="fontsize-cart">注文一覧画面</span>
<br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to admin_order_path(order.id) do  %>
        <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        <% end %>
      </td>
      <td>
        <%= order.user.last_name + order.user.first_name %>
      </td>
      <% total = 0 %>
      <!-- 注文個数 -->
      <% order.order_products.each do |order_product| %>
      <% total += order_product.number %>
      <% end %>
      <td>
        <%= total %>
      </td>
      <!-- ステータス -->
      <td>
        <%= order.order_status %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders, class: "paginate" %>


  </div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>