<h2>マイページ</h2>
<ul class="nav navbar-nav navbar-right">
	<%= "登録情報" %>
	<%= link_to "編集する", edit_user_registration_path %>
	<%= link_to "パスワードを変更する", edit_user_password_path %>
</ul>

<table>
	<tr>
		<td>氏名</td>
		<td><%= @user.last_name %><%= @user.first_name %></td>
	</tr>
	<tr>
		<td>カナ</td><td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
	</tr>
	<tr>
		<td>郵便番号</td><td><%= @user.postcode %></td>
	</tr>
	<tr>
		<td>住所</td><td><%= @user.address %></td>
	</tr>
	<tr>
		<td>電話番号</td><td><%= @user.phone_number %></td>
	</tr>
	<tr>
		<td>メールアドレス</td><td><%= @user.email %></td>
	</tr>
</table>

<ul class="nav navbar-nav navbar-right">
	<strong>配送先</strong> 
	<%= link_to "一覧を見る", sends_path %>
</ul>
<ul class="nav navbar-nav navbar-right">
	<strong>注文履歴</strong>
	<%= link_to "一覧を見る", orders_path %>
</ul>
