<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if user_signed_in? %> <span class="margin-right"><%= link_to "マイページ", user_path(current_user) %></span> <span class="margin-right"><%= link_to "カート", carts_path(current_user) %></span> <span class="margin-right"><%= link_to "商品一覧", root_path %></span> <span class="margin-right"><%= link_to "注文履歴", orders_path(current_user) %></span>
                <% else %>
                  <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">マイページ
</span> <br><br>
          <ul class="nav navbar-nav navbar-left"> <span class="fontsize-cart">登録情報</span>
            <%= link_to "編集する", edit_user_registration_path, class: "btn btn-primary w-80px" %>
              <%= link_to "パスワードを変更する", edit_user_password_path, class: "btn btn-primary" %>
          </ul> <br><br>
          <table class="table table-striped">
            <tr>
              <td>氏名</td>
              <td>
                <%= @user.last_name %>
                  <%= @user.first_name %>
              </td>
            </tr>
            <tr>
              <td>カナ</td>
              <td>
                <%= @user.last_name_kana %>
                  <%= @user.first_name_kana %>
              </td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td>
                <%= @user.postcode %>
              </td>
            </tr>
            <tr>
              <td>住所</td>
              <td>
                <%= @user.address %>
              </td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td>
                <%= @user.phone_number %>
              </td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td>
                <%= @user.email %>
              </td>
            </tr>
          </table> <br>
          <div style="text-align : left">
            <table>
              <tr>
                <td><span class="fontsize-cart">配送先　</span></td>
                <td>
                  <%= link_to "一覧を見る", sends_path, class: "btn btn-primary w-80px" %>
                </td>
              </tr>
              <tr>
                <tr>
                  <td>　</td>
                  <td>　</td>
                </tr>
                <td><span class="fontsize-cart">注文履歴　</span></td>
                <td>
                  <%= link_to "一覧を見る", orders_path, class: "btn btn-primary w-80px" %>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-4"> </div>
        </div>
      </div>
    </div>
  </div>