<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if admin_signed_in? %>
              <span class="margin-right"><%= link_to "商品一覧", admin_products_path %></span>
              <span class="margin-right"><%= link_to "会員一覧", admin_users_path %></span>
              <span class="margin-right"><%= link_to "注文履歴一覧", admin_orders_path %></span>
              <span class="margin-right"><%= link_to "ジャンル管理", admin_genres_path %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10"> <span class="fontsize-cart">ジャンル編集画面</span> <br>
          <%= form_for(@genre, {:url => admin_genre_path}) do |f| %> <br>
            <%= f.text_field :genre_name %>
              <%= f.submit '編集する', :style=> "width:10%;", class: "btn btn-primary" %>
                <% end %>
        </div>
      </div>
      <div class="col-xs-1"> </div>
    </div>
  </div>
</div>