<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
              <span class="margin-right"><%= link_to "マイページ", user_path(current_user) %></span>
              <span class="margin-right"><%= link_to "カート", carts_path(current_user) %></span>
              <span class="margin-right"><%= link_to "商品一覧", root_path %></span>
              <span class="margin-right"><%= link_to "注文履歴", orders_path(current_user) %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">送付先編集
</span> <br><br>


<%= form_for(@send) do |f| %>
<table>
	<tr>
		<th><%= f.label :郵便番号%>　</th>
		<td><%= f.text_field :postcode,autofocus: true, class:"form-control" %></td>
	</tr>
	<tr>
		<th><%= f.label :住所 %>　</th>
		<td><%= f.text_field :address,autofocus: true, class:"form-control" %></td>
	</tr>
	<tr>
		<th><%= f.label :宛名 %>　</th>
		<td><%= f.text_field :name, autofocus: true, class:"form-control" %></td>
	</tr>
</table>
<br>
<%= f.submit "編集する", class: "btn btn-primary" %>
<% end %>


</div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>