商品編集画面

<%= form_for(@product, {:url => admin_product_path}) do |f| %>

<p>商品画像</p>
<%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<%= f.attachment_field :product_image %>

<p>商品名</p>
<%= f.text_field :product_name, autofocus: true, class:"form-control", id:"inputproductname" %>

<p>商品説明文</p>
<%= f.text_area :product_intoroduction, autofocus: true, class:"form-control", id:"inputproductintoroduction" %>

<p>税抜き価格</p>
<%= f.text_field :price, autofocus: true, class:"form-control", id:"inputprice" %>

<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>

<%= f.select :sale_status, Product.sale_statuses.keys.to_a, {} %>

<%= f.submit "変更を保存" %>

<% end %>
