<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if admin_signed_in? %>
              <span class="margin-right"><%= link_to "商品一覧", admin_products_path %></span>
              <span class="margin-right"><%= link_to "会員一覧", admin_users_path %></span>
              <span class="margin-right"><%= link_to "注文履歴一覧", admin_orders_path %></span>
              <span class="margin-right"><%= link_to "ジャンル管理", admin_genres_path %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">商品新規登録画面
</span> <br> <br> <br>
          <%= form_for(@product, {:url => admin_products_path}) do |f| %>
            <p>商品画像 </p>
            <%= f.attachment_field :product_image %> <br>
              <p>商品名 </p>
              <%= f.text_field :product_name, autofocus: true, class:"form-control", id:"inputproductname" %> <br>
                <p>商品説明文 </p>
                <%= f.text_area :product_intoroduction, autofocus: true, class:"form-control", id:"inputproductintoroduction" %> <br>
                  <p>税抜き価格 </p>
                  <%= f.text_field :price, autofocus: true, class:"form-control", id:"inputprice" %> <br>
                    <p>ジャンル選択 </p>
                    <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %> <br> <br>
                      <p>販売ステータス </p>
                      <%= f.select :sale_status, Product.sale_statuses.keys.to_a, {} %> <br> <br>
                        <%= f.submit "新規登録", class: "btn btn-primary", :style=> "width:40%;" %>
                          <% end %>
        </div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>