<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if admin_signed_in? %>
              <span class="margin-right"><%= link_to "商品一覧", admin_products_path %></span>
              <span class="margin-right"><%= link_to "会員一覧", admin_users_path %></span>
              <span class="margin-right"><%= link_to "注文履歴一覧", admin_orders_path %></span>
              <span class="margin-right"><%= link_to "ジャンル管理", admin_genres_path %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-5"> <span class="fontsize-cart">商品詳細画面</span> <br> <br>
          <p>商品画像 </p>
          <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %> <br> <br> </div>
        <div class="col-xs-6"> <br> <br> <br>
          <p>商品名 </p>
          <p class="fontsize">
            <%= @product.product_name %>
          </p> <br>
          <p>商品説明文 </p>
          <p>
            <%= @product.product_intoroduction %>
          </p> <br>
          <p>税抜き価格 </p>
          <p>
            <%= @product.price %>円 </p> <br>
          <p>ジャンル </p>
          <p>
            <%= @product.genre.genre_name %>
          </p> <br> <br>
          <p>販売ステータス </p>
          <%= @product.sale_status %>
          <br><br>
          <%= link_to "編集する", edit_admin_product_path(@product), data: {"turbolinks" => false} , class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>