<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if admin_signed_in? %>
              <span class="margin-right"><%= link_to "商品一覧", admin_products_path %></span>
              <span class="margin-right"><%= link_to "会員一覧", admin_users_path %></span>
              <span class="margin-right"><%= link_to "注文履歴一覧", admin_orders_path %></span>
              <span class="margin-right"><%= link_to "ジャンル管理", admin_genres_path %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">会員一覧
</span> <br><br>

<table class="table table-striped">
	<thead>
		<tr>
			<th>顧客ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
   <% @users.each do |u| %>
		<tr>
			<td><%= u.id %></td>
			<td><%= link_to admin_user_path(u.id) do %>
        <%= u.last_name %>
        <%= u.first_name %><% end %></td>
			<td><%= u.email %></td>
			<td>       <% unless u.deleted_at? %>
        <%= "有効会員" %>
        <% else %>
        <%= "退会済" %>
        <% end %></td>
			<% end %>
		</tr>
	</tbody>
</table>


</div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>