<h2>会員詳細</h2>

<div class="field">
	<%= "顧客ID" %>
	<%= @user.id %>
</div>

<div class="field">
	<%= "氏名" %>
	<%= @user.last_name %><%= @user.first_name %>
</div>

<div class="field">
	<%= "フリガナ" %>
	<%= @user.last_name_kana %><%= @user.first_name_kana %>
</div>

<div class="field">
	<%= "郵便番号" %>
	<%= @user.postcode %>
</div>

<div class="fiels">
	<%= "住所" %>
	<%= @user.address %>
</div>

<div class="field">
	<%= "電話番号" %>
	<%= @user.phone_number %>
</div>

<div class="field">
	<%= "メールアドレス" %>
	<%= @user.email %>
</div>

<%= link_to "編集する", edit_admin_user_path(@user.id) %>
<%= link_to "注文履歴一覧を見る", admin_orders_path %>
