<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
              <span class="margin-right"><%= link_to "マイページ", user_path(current_user) %></span>
              <span class="margin-right"><%= link_to "カート", carts_path(current_user) %></span>
              <span class="margin-right"><%= link_to "商品一覧", root_path %></span>
              <span class="margin-right"><%= link_to "注文履歴", orders_path(current_user) %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td colspan="3" class="fontsize">ジャンル検索</td>
                </tr>
              </thead>
              <tbody>
                <% @genres.each do |genre| %>
                  <tr>
                    <td>
                      <%= link_to genres_path(genre.id) do %>
                      <%= genre.genre_name %>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10" style="background-color: sandybrown;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td colspan="3"></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @products.each do |product| %>
                    <td class="width">
                      <%= attachment_image_tag product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "450x300" %>
                    </td>
                    <td valign="middle">
                      <p class="fontsize">
                        <%= product.product_name %>
                      </p>
                      <p>商品価格：
                        <%= product.price %>円</p>
                      <%= link_to "商品の詳細をみる", product_path(product), class: "btn btn-primary" %>
                    </td>
                    <td>
                      <p>
                        <%= product.product_intoroduction %>
                      </p>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>