<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <div class="header-box clearfix">
    <%= image_tag('image/logo.png',class: "imagesize") %>
    <ul class="nav-box clearfix">

      <% if user_signed_in? %>

      <li class="navlist">
        <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: " glyphicon glyphicon-log-out logout", :style=>"color:black;" %>
      </li>
      <li class="navlist">
        <p class="color-white">会員名：<%= current_user.last_name + current_user.first_name %></p>
      </li>


      <% else %>

      <li class="navlist">
        <%= link_to ' ログイン', new_user_session_path, class: "glyphicon glyphicon-log-in sign_in", :style=>"color:black;" %>
      </li>
      <li class="navlist">
        <%= link_to ' 新規登録', new_user_registration_path, class: "glyphicon glyphicon-edit sign_up", :style=>"color:black;"%>
      </li>

      <% end %>

    </ul>
  </div>
</header>

    <%= yield %>
  </body>

</html>
