<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <nav class="navbar-right">
          <p>
            Creator windows
          </p>
        </nav>
      </div>
    </div>
  </footer>
</html>
