<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-10">
          <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
              <span class="margin-right"><%= link_to "マイページ", user_path(current_user) %></span>
              <span class="margin-right"><%= link_to "カート", carts_path(current_user) %></span>
              <span class="margin-right"><%= link_to "商品一覧", root_path %></span>
              <span class="margin-right"><%= link_to "注文履歴", orders_path(current_user) %></span>
              <% else %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-1"> </div>
      </div>
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-6"> <span class="fontsize-cart">プロフィール編集
</span> <br><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field">
                <%= f.label :氏名 %>
                  <%= f.text_field :last_name, autofocus: true, class:"form-control", :style=> "width:30%;" %>
                    <%= f.text_field :first_name, autofocus: true, class:"form-control", :style=> "width:30%;"%>
              </div> <br>
              <div class="field">
                <%= f.label :フリガナ %>
                  <%= f.text_field :last_name_kana, autofocus: true, class:"form-control", :style=> "width:30%;" %>
                    <%= f.text_field :first_name_kana, autofocus: true, class:"form-control", :style=> "width:30%;" %>
              </div> <br>
              <div class="field">
                <%= f.label :郵便番号 %>
                  <%= f.text_field :postcode,autofocus: true, class:"form-control", :style=> "width:30%;" %>
              </div> <br>
              <div class="field">
                <%= f.label :住所 %>
                  <%= f.text_field :address,autofocus: true, class:"form-control", :style=> "width:70%;" %>
              </div> <br>
              <div class="field">
                <%= f.label :電話番号 %>
                  <%= f.text_field :phone_number,autofocus: true, class:"form-control", :style=> "width:40%;" %>
              </div> <br>
              <div class="field">
                <%= f.label :メールアドレス %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", :style=> "width:50%;" %>
              </div> <br>
              <div class="actions">
                <%= f.submit "更新する", class: "btn btn-primary" %>
              </div> <br><br>
              <% end %>
                <p>アカウント削除
                  <%= link_to "アカウントを削除する", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
                </p> <br> </div>
        <div class="col-xs-4"> </div>
      </div>
    </div>
  </div>
</div>